.newsFront{
    
    background: linear-gradient(rgb(253, 209, 240),white);
    width: 90%;
    margin: auto;
    margin-top: 170px;
}

.secondCol{
    margin-top: 7%;
}

.secondCol .tag1{
    font-size: 40px;
    line-height: 60px;
    color: rgb(73, 71, 71);
    font-family:Verdana, Geneva, Tahoma, sans-serif;font-weight:600;
}

h4{
    font-size: 35px;
}

button{
    padding: 10px 30px;
    width: 300px;
    border: none;
    outline: none;
    background: rgb(247, 43, 114);
    color: white;border-radius: 3px;
}

button:hover{
    background: rgb(233, 51, 115);
}

img{
    width:70%;
}

.details{
   width: 100%;
   margin: auto;
   display: flex;
   justify-content: space-around;
}

#imgDet{
    width: 60px;
    height: 60px;
}

.shipping, .support, .money{
    display: flex;
}

.infoContainer{
    padding: 10px;
}

.infoDetails{
    font-size: 15px;
    font-weight: 600;
    color: rgb(93, 90, 90);
}

p{
    text-align: center;
}
@media (max-width:1200px) {
    .secondCol .tag{
        font-size: 30px;
    }
    h4{
        font-size: 30px;
    }
}

@media (max-width:1099px) {
    .newsFront{
        margin-top:230px;
    }
    .details{
        transform: scale(0.9);
    }
}

@media (max-width:900px) {
    .secondCol .tag1{
        font-size:30px;
        line-height:40px;
    }
    .details{
        margin-top: 10%;
    }
}

@media (max-width:800px) {
    .newsFront{
        margin-top:180px;
    }
    .details{
        margin-top: 10%;
    }
    
}

@media (max-width:767px) {
    .secondCol .tag{
        font-size: 35px;
    }
    h4{
        font-size: 35px;
    }
    .shipping, .support, .money{
        display: flex;
        transform: scale(0.85);
    }
}

@media (max-width:603px) {
    .newsFront{
        margin-top:230px;
    }
    .secondCol .tag1{
        font-size:30px;
    }
    h4{
        font-size: 25px;
    }
    .details{
        display: none;
    }
}
