.newsFront{
    
    background: linear-gradient(rgb(253, 209, 240),white);
    width: 90%;
    margin: auto;
    margin-top: 160px;
}

.secondCol{
    margin-top: 7%;
}

.secondCol .tag1{
    font-size: 40px;
    line-height: 60px;
    color: rgb(73, 71, 71);
    font-family:Verdana, Geneva, Tahoma, sans-serif;font-weight:600;
}

h4{
    font-size: 35px;
}

button{
    padding: 10px 30px;
    width: 300px;
    border: none;
    outline: none;
    background: rgb(247, 43, 114);
    color: white;border-radius: 3px;
}

button:hover{
    background: rgb(233, 51, 115);
}

img{
    width:70%;
}

@media (max-width:1200px) {
    .secondCol .tag{
        font-size: 30px;
    }
    h4{
        font-size: 30px;
    }
}

@media (max-width:992px) {
    
}

@media (max-width:767px) {
    .secondCol .tag{
        font-size: 35px;
    }
    h4{
        font-size: 35px;
    }
}