
<div class="newsFront">
    <div class="container">
        <div class="row">
            <div class="firstCol col-xl-6 col-md-6  col-12 text-center">
                <img src="../../assets/main.png" alt="">
            </div>
            <div class="secondCol col-xl-6 col-md-6 col-12 text-center">
                <p class="tag1">Lowest Price With High Quality</p>
                <button>Explore More</button>
                <h4 style="margin-top: 50px;
                 color: rgb(50, 50, 50);
                 font-weight:600;font-family: monospace;">Collections For Everyone</h4>
            </div>
        </div>
    </div>
</div>

<div class="details">

    <div class="shipping">
     <img src="../../assets/fast.png" alt="" id="imgDet">
     <div class="infoContainer">
        <p class="infoDetails">Free Shipping</p>
        <p>On orders over 500</p>
     </div>
    </div>

    <div class="support">
    <img src="../../assets/customer-service.png" alt="" id="imgDet">
    <div class="infoContainer">
        <p class="infoDetails">Dedicated Support</p>
        <p>Quick Response 24/7</p>
    </div>
    </div>

    <div class="money">
     <img src="../../assets/money-back.png" alt="" id="imgDet">
     <div class="infoContainer">
        <p class="infoDetails">Money Back Guarantee</p>
        <p>Worry-free Shopping</p>
     </div>
    </div>

</div>
