.supplierDash{
    margin-top: 100px;
}


@font-face {
    font-family:squid;
    src: url(../../assets/font/Game\ Of\ Squids.ttf);
}

.reqSend{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    height: 65vh;
}

#emailU{
    font-size: 18px;
    font-weight: 600;
}

#uEmail{
    width: 300px;
    height: 50px;
    text-align: center;
}

.btn{
    padding: 8px 35px;
    background-color: rgb(255, 0, 89);
    font-size: 18px;color: white;
    border-radius: 8px;
}

@media (max-width:1100px) {
    .supplierPro{
        padding: 10px;
        flex-direction: column;
    }
}