<div class="formPage">
  
  <form [formGroup]="formData" (ngSubmit)="loginCheck()">
    <h2>Login</h2>
    <div class="inputData">
       <input type="text" id="email" formControlName="userEmail" autocomplete="off">
       <label for="email">Email</label>

       <div id="err" *ngIf="formData.get('userEmail')?.errors?.['required'] && formData.get('userEmail')?.dirty">
        Email is required
      </div>

      <div id="err" *ngIf="formData.get('userEmail')?.errors?.['checkEmail']===false && formData.get('userEmail')?.dirty">
        Email is not valid
      </div>
      
    </div>
    <div class="inputData">
        <input type="text" id="password" formControlName="password" autocomplete="off">
        <label for="password">Password</label>
    </div>
    <p id="forPass"><a href="">Forget Password?</a></p>
    <div class="container">
        
           <button type="submit">Login</button>
        
    </div>

    <p id="regi">Don't Have Account? <a routerLink="/signUp">Register</a></p>
</form>

</div>
