.formPage{
    margin-top: 70px;
    height: 100vh;
    display: flex;
    align-content: center;
    justify-content: center;
    background: url(../../assets/blob.svg);
    background-repeat: no-repeat;
    background-position: center;
}

h2{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    background:linear-gradient(135deg,rgb(251, 255, 6),rgb(244, 26, 87));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 600;
}

form{
    margin:auto;
    padding: 20px;
    width: 400px;
    border-radius: 10px;
    box-shadow: 7px 12px 33px -9px rgba(48, 48, 48, 0.75);
    background-color: white;
}

input:focus ~ label,
input:valid ~ label{
    transform: translateY(-15px);
    font-size:13px;
    color: rgb(19, 79, 144);
}

.inputData{
    position: relative;
}

label{
    position: absolute;
    left: 13px;
    bottom: 10px;
    font-size: 20px;
    color: grey;
    transition: 0.4s ease-out;
    font-family: Arial, Helvetica, sans-serif;
}

input{
    width: 90%;
    height: 32px;
    margin-left: 15px;
    margin-top: 10px;
    text-align: center;
    border: none;
    border-bottom: 1px solid silver;
}

input:focus{
    outline: none;
}

button{
    width:160px;
    height:35px;
    background-color: cornflowerblue;
    color: white;
    font-size:15px;
    cursor: pointer;
    border: none;
}

button:hover{
    background-color: rgb(41, 111, 241);
}

.container{
    margin-top:20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

div{
    margin-top: 25px;
}

#err{
    position: absolute;
    color: red;
    margin-top: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    left: 50%; /* Set left to 50% */
    transform: translateX(-50%);
}

form #regi{
    text-align: center;
    font-size: 14px;
    margin: 0;
    margin-top: 15px;
}

#regi a{
    color: rgb(255, 0, 85);
    cursor: pointer;
}