<div class="nav">
    <p class="logo"><img src="assets/images/logo/favicon-32x32.png" style="margin-bottom: 10px" alt="logo-image">
         <a routerLink="">CloudCart</a>  </p>
    <div class="searchBox">
        <input type="text" class="search" placeholder="Search Product">
        <img src="../../assets/images/search.png" alt="">
    </div>


    <ul class="list">
        <li><a href="#">Become a Supplier</a></li>
        <li class="profile">
            <a [routerLink]="'/profile'">
                <i class="fa fa-user" style="margin-right: 5px;"></i>Profile</a>
           <ul class="proList">
               <li>Hello {{userName}}</li>
               <li id="log"><a (click)="clicked()">{{loginTime}}</a></li>
           </ul>
        </li>
        <li><a href="#">Cart</a></li>
    </ul>
    <div class="listLink">
        
        <div class="menu-icon" (click)="toggleMenu()">
        <i class="fa fa-angle-down"></i></div>
        <ul class="typeList" id="expandableMenu">
            <li><a href="">Women</a></li>
            <li><a href="">Men</a></li>
            <li><a href="">Kids</a></li>
            <li><a href="">Home & Kitchen</a></li>
            <li><a href="">Footwear</a></li>
            <li><a href="">Electronics</a></li>
        </ul>
    </div>
</div>

