<div class="nav">
    <div class="logoBox">
        <div class="imgLogo">
           <img src="../../assets/images/logo_main.png" style="margin-bottom: 10px" alt="logo-image">
        </div>
        <div class="logoText">
            <p class="logo">
                <a routerLink="">RUDRA</a>  
            </p>
        </div>
    </div>
    <div class="searchBox">
        <input type="text" class="search" placeholder="Search Product">
        <img src="../../assets/images/search.png" alt="">
    </div>


    <ul class="list">
        <li *ngIf="!role"><a [routerLink]="'/adminDash'">Admin Dash</a></li>
        <li *ngIf="supplierVer"><a [routerLink]="'/suppVerification'">Become a Supplier</a></li>
        <li *ngIf="supplierValid"><a [routerLink]="'/supplierDash'">Supplier</a></li>
        <li class="profile">
            <a [routerLink]="'/profile'">
                <i class="fa fa-user" style="margin-right: 5px;"></i>Profile</a>
           <ul class="proList">
               <li>Hello {{userName}}</li>
               <li id="log"><a (click)="clicked()">{{loginTime}}</a></li>
               <li id="fav" *ngIf="loggedIn"><a routerLink="/fav">{{fav}}</a></li>
           </ul>
        </li>
        <li><a href="#">Cart</a></li>
    </ul>
    <div class="listLink" *ngIf="role">
        
        <div class="menu-icon" (click)="toggleMenu()">
        <i class="fa fa-angle-down"></i></div>
        <ul class="typeList" id="expandableMenu">
            <li><a routerLink="/proCat/women">Women</a></li>
            <li><a routerLink="/proCat/mens">Men</a></li>
            <li><a routerLink="/proCat/kids">Kids</a></li>
            <li><a routerLink="/proCat/homeDecor">Home & Kitchen</a></li>
            <li><a routerLink="/proCat/footwear">Footwear</a></li>
            <li><a routerLink="/proCat/electronic">Electronics</a></li>
        </ul>
    </div>
</div>

