<div class="nav">
    <p class="logo"><a href="#">cloudcart</a></p>
    <div class="searchBox">
        <input type="text" class="search" placeholder="Search Product">
        <img src="../../assets/images/search.png" alt="">
    </div>
    

    <ul class="list">
        <li><a href="#">Become a Suplier</a></li>
        <li class="profile">
            <a href="#">
                <i class="fa fa-user" style="margin-right: 5px;"></i>Profile</a>
           <ul class="proList">
               <li>Hello User</li>
               <li id="log"><a href="">Login</a></li>
           </ul>
        </li>
        <li><a href="#">Cart</a></li>
    </ul>
    <div class="listLink">
        <ul class="typeList">
            <li><a href="">Women Ethnic</a></li>
            <li><a href="">Men</a></li>
            <li><a href="">Kids</a></li>
            <li><a href="">Home & Kitchen</a></li>
            <li><a href="">Footwear</a></li>
            <li><a href="">Electronics</a></li>
        </ul>
    </div>
</div>

