.product{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    margin-top:12%;
    height: 80%; 
}

.proCont{
    width: 70%;
}

img{
    width: 300px;
}

#proTitle{
    font-size: 27px;
    text-align: center;
    font-weight: 500;
    color: rgb(118, 118, 118);
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.details{
    width: 100%;
    padding: 10px;
    border: 1px solid rgb(213, 205, 205);
    border-radius: 4px;
    position: relative;
}

#infoId{
   position: relative;
   border: 1px solid rgb(210, 210, 210);
   padding: 4px 9px;
   border-radius: 50%;
   cursor: pointer;
}

#infoId #priDet{
    position: absolute;
    background: rgb(255, 254, 254);
    color: rgb(18, 18, 18);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 400px;
    top: 25px;
    left: -5px;
    visibility: hidden;
    padding:10px;
    border-radius: 4px;
    box-shadow: 7px 12px 33px -9px rgba(48, 48, 48, 0.75);
    line-height: 20px;
}

.tPrice{
    padding-left: 30px;
}

#infoId:hover #priDet{
    visibility: visible;
}

.sctSize{
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border: 1px solid rgb(213, 205, 205);
    border-radius: 4px;
}

.size{
    display: flex;
    justify-content: space-around;
}

.size a{
    text-decoration: none;
    padding: 4px 20px;
    border: 1px solid rgb(223, 220, 220);
    border-radius: 8px;
    color: rgb(255, 0, 85);
}

.cardCont{
    display: flex;
}

.cardImg{
    position: relative;
}
#imgBg{
    position: absolute;
    top: 20px;
    right: 10px;
}

.cardContent{
    width: 100%;
    padding: 20px;
}

#proPri{
    font-size: 20px;
    color: rgb(86, 87, 87);
}

.btn{
    display: flex;
    justify-content: center;
}

.addCart{
    text-decoration: none;
    padding: 10px 20px;
    background:linear-gradient(45deg,rgb(255, 0, 85),rgb(245, 41, 116));
    color: white;
    font-size: 16px;
    line-height: 20px;
}

.desc{
    clear: both;
}

#proDesc{
    padding: 20px;
    font-size: 15px;
    color: rgb(140, 131, 131);
}

.suggestions{
    display: flex;
    justify-content: center;
    align-items: center;
}

.proCrd{
    background-color: white;
    border: 1px solid rgb(194, 193, 193);
    padding: 3px;
    border-radius: 4px;
}

.proSug{
    display: flex;
    gap: 30px;
}

#imgPara{
    width:150px;
    height: 150px;
}

#proName{
    text-align: center;
    font-weight: 500;
    margin-top: 5px;
}

#proPrice{
    font-size: 16px;
    display: flex;
    text-align: center;
    justify-content: space-around;
    font-weight: 500;
}

span{
    font-size: 13px;
}

span i{
    font-size: 13px;
    color: yellow;
}

#proShip{
    padding: 4px 20px; 
    background: rgb(255, 0, 102);
    color: white;
    text-align: center;
    margin-bottom:2px;
}

.sctSize .size a:hover{
    background:rgba(62, 63, 63, 0.286);
    color: white;
    cursor: pointer;
}
@media (max-width:1098px) {
    .product{
        margin-top: 25%;
    }
}