
<div class="signPage">
    <form [formGroup]="formData" (ngSubmit)="addUser()">
        <h2>Registration Form</h2>
        
        <div id="inputData" class="row">
            
            <div class="inputContainer">
                <input type="text" formControlName="userEmail" id="email" required autocomplete="off">
                <label for="email">Email</label>
                <div id="err" *ngIf="formData.get('userEmail')?.errors?.['required'] && formData.get('userEmail')?.dirty">
                    Email is required
                </div>
                <div id="err" *ngIf="formData.get('userEmail')?.errors?.['checkEmail']===false && formData.get('userEmail')?.dirty">
                    Email is not Valid
                </div>
            </div>
    
            <div class="inputContainer">
                <input type="text" formControlName="userName" id="uName" required autocomplete="off">
                <label for="uName">Name</label>
                <div id="err" *ngIf="formData.get('userName')?.errors?.['required'] && formData.get('userName')?.dirty">
                    Name is required
                </div>
            </div>
        </div>
    
        <div id="inputData" class="row">
            <div class="inputContainer">
                <input type="text" formControlName="password" id="pass" required autocomplete="off">
                <label for="pass">Password</label>
                <div id="err" *ngIf="formData.get('password')?.errors?.['required'] && formData.get('password')?.dirty">
                    Password is required
                </div>
            </div>
            <div class="inputContainer">
                <input type="text" formControlName="cPassword" id="cPass" required autocomplete="off">
                <label for="cPass">Confirm Password</label>
                <div id="err" *ngIf="formData.get('cPassword')?.errors?.['passwordMatch']===false">
                    Password is not matched
                </div>
            </div>
    
        </div>
    
        <div id="inputData">
            <input type="text" formControlName="phoneNo" id="mobile" required autocomplete="off" >
            <label for="mobile">Mobile Number</label>
            <div id="err" *ngIf="formData.get('phoneNo')?.errors?.['pattern']">
                Must be start with 7,8 or 9
            </div>
        </div>
        
        <div id="uploadImg">
            <label for="fileInput" class="uploadBtn">
                Upload Image
            </label>
            <input type="file" accept="image/*" id="fileInput" (change)="onImageUpload($event)">
        </div>
        <p>{{fileName}}</p>
        
        <div id="container">
            <button type="submit">Submit</button>
        </div>
    
        <p id="log">Have an account already?<a routerLink="/login"> login</a></p>
    </form>
</div>
