<div class="supplierPro">
    <div class="supInfo">
        <div class="supImage">
            <img src="../../assets/main.png" alt="">
        </div>
        <p id="userName">Cloud</p>
    </div>
    <div class="infoLink">
        <div class="logo">
            <p id="logoId">Cloud Cart</p>
        </div>
        <div class="orders">
            <ul class="links">
                <li> <a [routerLink]="'/supplierWait'">Approval Requests</a></li>
                <li> <a href="">Product Approval</a></li>
                <li> <a href="">Supplier Issues</a></li>
                <li> <a href=""><i class="fa fa-bell"></i></a></li>
                <li> <a [routerLink]="'/'"><i class="fa fa-home"></i></a></li>
            </ul>
        </div>
    </div>
</div>
