<div class="supplierDash">

    <div class="supplierPro">
        <div class="supInfo">
            <div class="supImage">
                <img src="../../assets/main.png" alt="">
            </div>
            <p id="userName">Cloud</p>
        </div>
        <div class="infoLink">
            <div class="orders">
                <ul class="links">
                    <li> <a href="">Orders</a></li>
                    <li> <a href="">Payment Track</a></li>
                    <li> <a href="">Customer Issues</a></li>
                    <li> <a href=""><i class="fa fa-bell"></i></a></li>
                </ul>
            </div>
            <div class="addItem">
                <a [routerLink]="'/addProduct'" class="btn">Add Product</a>
            </div>
        </div>
    </div>
   
</div>