.supplierDash{
    margin-top: 100px;
}

@font-face {
    font-family:squid;
    src: url(../../assets/font/Game\ Of\ Squids.ttf);
}

.reqSend{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    height: 65vh;
}

#emailU{
    font-size: 18px;
    font-weight: 600;
}

#uEmail{
    width: 300px;
    height: 50px;
    text-align: center;
}

.supplierPro{
    padding: 10px;
    display:flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.supInfo{
    width: 400px;
    padding: 0 20px;
    height: 250px;
    background:linear-gradient(45deg,rgb(159, 27, 236),rgb(113, 3, 176));
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.infoLink{
    width: 100%;
}

.orders{
    width: 100%;
    height:70px;
    background:linear-gradient(45deg,rgb(159, 27, 236),rgb(113, 3, 176));
    border-radius: 8px;
    display: flex;justify-content: center;
    align-items: center;
}

.addItem{
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.btn{
    padding: 8px 35px;
    background-color: rgb(255, 0, 89);
    font-size: 18px;color: white;
    border-radius: 8px;
}

.supImage{
    border-radius: 50%;
    background-color: rgb(238, 230, 230);
    width: 200px;
    height: 200px;
}

img{
    width: 200px;
    height: 200px;
}

#userName{
    font-size: 45px;
    font-family: squid;
    line-height: 45px;
    color: white;
}

.orders .links{
    width: 100%;
    display: flex;
    justify-content:space-around;
    margin-top: 20px;
}

.links li{
    list-style: none;
}

li a{
    text-decoration: none;
    color: white;
    font-size: 15px;
}

.links a:hover{
    color: yellow;
}

@media (max-width:1100px) {
    .supplierPro{
        padding: 10px;
        flex-direction: column;
    }
}