<div class="supplierDash">

    <div class="reqSend" *ngIf="otpClicked">
        <h2>Verification</h2>
        <!-- <h2>Check your E-mail for verification code</h2> -->
        <!-- <p id="emailU">{{userEmail}}</p> -->
        <p style="font-size: 17px;font-weight: 500;">Enter your E-mail to get the verification code</p>
       <input type="text" [(ngModel)]="userEmail" id="uEmail">
       <a (click)="getOtp()" class="btn">Get OTP</a>
    </div>

    <div class="reqSend" *ngIf="verifyClicked">
        <h2>Check your E-mail for verification code</h2>
        <p id="emailU">{{userEmail}}</p>
       <input type="text" [(ngModel)]="otpGet" id="uEmail" placeholder="Enter your OTP">
       <p style="color: rgb(66, 128, 243);">You have {{timeLeft}} second left</p>
       <a (click)="verifyOtp()" class="btn">Verify</a>
    </div>

    
    <div class="supplierPro" *ngIf="supplierVerified">
        <div class="supInfo">
            <div class="supImage">
                <img src="../../assets/main.png" alt="">
            </div>
            <p id="userName">Cloud</p>
        </div>
        <div class="infoLink">
            <div class="orders">
                <ul class="links">
                    <li> <a href="">Orders</a></li>
                    <li> <a href="">Payment Track</a></li>
                    <li> <a href="">Customer Issues</a></li>
                    <li> <a href=""><i class="fa fa-bell"></i></a></li>
                </ul>
            </div>
            <div class="addItem">
                <a [routerLink]="'/addProduct'" class="btn">Add Product</a>
            </div>
        </div>
    </div>
    <router-outlet></router-outlet>
</div>